<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자리배치도</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">

    <script>
        $(document).ready(function() {
            $("#nowButton").click(function() {
                $.ajax({
                    url: "/seat/now",
                    method: "GET",
                    success: function(response) {
                        location.reload();
                    },
                    error: function(error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            });

            $("#randomButton").click(function() {
                $.ajax({
                    url: "/seat/random",
                    method: "GET",
                    success: function(response) {
                        location.reload();
                    },
                    error: function(error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            });

            $("#leaderButton").click(function() {
                $.ajax({
                    url: "/seat/leader",
                    method: "GET",
                    success: function(response) {
                        location.reload();
                    },
                    error: function(error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            });

            var isMemberSelectionVisible = false;
            $("#settingButton").click(function() {
                isMemberSelectionVisible = !isMemberSelectionVisible;
                $("#memberSelectionDiv").toggle(isMemberSelectionVisible);
            });

            $("#saveSelectionButton").click(function() {

                var selectedCheckboxes = $("#memberSelectionForm input:checked");
                if (selectedCheckboxes.length !== 7) {
                    alert("7명을 선택해주세요");
                    return;
                }

                var selectedMembers = [];
                selectedCheckboxes.each(function() {
                    selectedMembers.push($(this).val());
                });

                $.ajax({
                    url: "/seat/setting",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(selectedMembers),
                    success: function(response) {
                        alert("선택: " + selectedMembers.join(", "));
                    },
                    error: function(error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            });



            $("#confirmButton").click(function() {
                var enteredPassword = prompt("비밀번호를 입력하세요");

                if (enteredPassword === "qkrtjdeo") {
                    $.ajax({
                        url: "/seat/confirm",
                        method: "GET",
                        success: function(response) {
                            location.reload();
                        },
                        error: function(error) {
                            console.error("Ajax request failed:", error);
                        }
                    });
                } else {
                    alert("비밀번호 틀렸어요");
                }

            });
        });
    </script>

</head>
<body class="container">
<h2 class="mt-5">자리 바꾸기🎒</h2>

<div class="row mt-3">
    <div>
        <button id="nowButton" type="button" class="btn btn-dark">현재자리보기</button>
        <button id="randomButton" type="button" class="btn btn-primary">랜덤</button>
        <button id="leaderButton" type="button" class="btn btn-warning">리더</button>
        <button id="settingButton" type="button" class="btn btn-success">리더설정</button>
        <button id="confirmButton" type="button" class="btn btn-danger">확정하기</button>
    </div>
    <div id="memberSelectionDiv" style="display: none;">
        <h3 class="text-center">멤버 선택</h3>
        <form id="memberSelectionForm">
            <!-- Loop through your member list here and create checkboxes -->
            <div th:each="member, stat : ${seatFixed}">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" th:id="'member' + ${stat.index}" th:value="${member}" />
                    <label class="form-check-label" th:for="'member' + ${stat.index}" th:text="${member}"></label>
                </div>
            </div>
            <!-- Repeat the above block for each member -->

            <!-- You can customize the number of checkboxes based on your member list -->
        </form>
        <button type="button" class="btn btn-primary" id="saveSelectionButton">저장</button>
        <button type="button" class="btn btn-secondary" id="cancelSelectionButton">취소</button>
    </div>
    <div class="col-md-6">
        <div class="container">
            <!-- 이미지 추가 -->
            <img class="img-fluid border" src="/seat.png" alt="자리배치도 이미지">
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <h3 class="text-center">배치 결과</h3>
            <ol>
                <pre th:each="member, stat : ${seatFixed}" th:text="${stat.index + 1 + ': ' + member}" style="margin: 0;"></pre>
            </ol>
        </div>
    </div>
</div>


<!-- Content goes here -->
</body>
</html>
